<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
  		     <param name="ConversionPattern" 
                            value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
		</layout>
	</appender>
    <appender name="ALL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${ch.inser.XXX.logDir}/all.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM HH:mm:ss} %-5p %-20c{1} : [%x] %m%n"/>
        </layout>
    </appender>
    <appender name="INSER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${ch.inser.XXX.logDir}/inser.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd.MM HH:mm:ss} %-5p %-20c{1} : [%x] %m%n"/>
        </layout>
    </appender>

	<logger name="ch.inser">
  		<level value="info"/> 
        <appender-ref ref="INSER"/>
        <appender-ref ref="CONSOLE"/>
	</logger>
    <root>
        <level value ="info"/>
        <appender-ref ref="ALL"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>

